body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.cabecalho {
    overflow: hidden;
    background-color: #2f3b69;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    width: 100%;
    text-align: center;
    padding: 20px 0;
    z-index: 1000; /* Certifique-se que o cabeçalho está acima dos outros elementos */
}

.cabecalho a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 25px; /* Ajuste a distância da borda esquerda conforme necessário */
    width: 150px;
    top: 5px; /* Centraliza verticalmente */
}

.inicio {
    margin-top: 80px; /* Ajuste conforme necessário para evitar sobreposição */
}

.buttoninicial {
    background-color: #2f3b69;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.sobinicial {
    background-color: #ebe5f3;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 100px;
}

.rodape {
    background-color: #2f3b69;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative; 
}
